{% for item in items %}
    {% if not item.viewBag.isHidden %}
        <li class="nav-item d-flex flex-column align-items-center level-{{ level }} {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }} {{ item.viewBag.cssClass }} {{ item.items ? 'has-items' : '' }}">
            {% if item.url %}
                <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link d-flex w-100 {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }}">
                    {{ item.title }}
                </a>

                {% if item.viewBag.isExternal %}
                    <i class="ph ph-arrow-up-right ms-2 external-link-icon"></i>
                {% endif %}
            {% else %}
                <span>{{ item.title }}</span>
            {% endif %}

            {% if item.items and level < 2 %}
                <ul class="nav w-100 flex-column">
                    {% partial __SELF__ ~ "::items" items=item.items level=2 %}
                </ul>
            {% endif %}
        </li>

{#        {% if not loop.last and level == 1 %}#}
        {% if not loop.last %}
            <span class="nav-item-separator d-flex"></span>
        {% endif %}
    {% endif %}
{% endfor %}
