url = "/:fullslug*"
layout = "default"
title = "Page"
seoOptionsMetaTitle = "{{ page.title }}"

[page]
column = "fullslug"
value = "{{ :fullslug }}"

[Gallery gallery]
imagesPerPage = 16

[staticMenu sidebarmenu]

[breadcrumbs]

[collection faq]
handle = "FAQ\Question"

[cookiesManage cookiesmanage]

[blogPosts posts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Nenalezeny žádné příspěvky"
sortOrder = "published_at asc"
categoryPage = "page"
postPage = "page-post"

[Files files]
order = "sort_order asc"

[pricelist]

[openinghours]
==
<?php
function onEnd()
{
    $code = $this["page"]->menu;

$this["sidebarmenu"]->resetMenu($code);
}
?>
==
<div class="container-fluid" id="breadcrumb">
    <div class="container-lg">
        <div class="row g-5">
            <div class="col {#% if sidebarmenu.menuItems is not null %}col-xl-9 offset-xl-3{% endif %#}">
                {% component "breadcrumbs" %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 border-1 border-bottom border-light" id="page">
    <div class="container-lg">
        <div class="row g-5">
            {% if sidebarmenu.menuItems is not null %}
                <div class="sidebar d-none d-xl-block col-xl-3">
                    {% component "sidebarmenu" %}
                </div>
            {% endif %}

            <div class="col {% if sidebarmenu.menuItems is not null %}col-xl-9{% endif %}">
                <h1 class="mb-4">
                    {{ page.title }}
                </h1>

                <div class="d-flex flex-column gap-5">
                    {% for content in page.contents %}
                        <div class="{{ content.type|slug }} {{ content.type|slug }}--{{ content.title|slug }}">
                            {% if content.heading and content.type != "image_text" %}
                                <h2 class="mb-4">
                                    {{ content.heading }}
                                </h2>
                            {% endif %}

                            {% if content.type == "text" %}
                                {{ content.text|content|bootstrap }}
                            {% elseif content.type == "image_text" %}
                                {% partial "_block/image-text.htm" image=content.image text=content.text heading=content.heading switched=content.switch_order %}
                            {% elseif content.type == "blog" %}
                                {% component "posts" categoryFilter=content.blog_category.slug rowCols=content.row_cols partial=content.partial %}
                            {% elseif content.type == "gallery" %}
                                {% component "gallery" gallery=content.gallery.slug %}
                            {% elseif content.type == "files" %}
                                {% component "files" category=content.files_category.slug %}
                            {% elseif content.type == "pricelist" %}
                                {% component "pricelist" slug=content.pricelist.slug %}
                            {% elseif content.type == "opening_hours" %}
                                {% component "openinghours" slug=content.opening_hours.slug %}
                            {% elseif content.type == "faq" %}
                                {% partial "_accordion/faq" items=faq %}
                            {% elseif content.type == "slider" %}
                                {% partial "_swiper/slider" slides=content.slider.slides settings=content.slider %}
                            {% elseif content.type == "embed" %}
                                {% partial "_block/embed" embed=content.embed %}
                            {% elseif content.type == "cookies" %}
                                {% component "cookiesmanage" %}
                            {% elseif content.type == "contacts" %}
                                {% partial "_contacts/default" partial=content.partial row_cols=content.row_cols %}
                            {% elseif content.type == "jobs" %}
                                {% partial "_jobs/default" partial=content.partial row_cols=content.row_cols post_page=content.post_page %}
                            {% elseif content.type == "links" %}
                                {% partial "_links/default" partial=content.partial row_cols=content.row_cols category=content.links_category %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
